*{
    margin: 0;
    padding:0;
    font-family: 'Poppins', sans-serif;
}

.header{
    min-height: 100vh;
    width: 100%;
    background-image: url(images/jason-leung-cYqEszzXU2g-unsplash.jpg);
    background-position: center;
    background-size:cover;
    position: relative;
}

.logo{
    width: 10%;
}

nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 100px;
}

.nav-links{
    flex: 1;
    text-align: right;
}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a{
    color: rgb(152, 191, 240);
    text-decoration: none;
    font-size: 13px;
}

.nav-links ul li::after{
    content: '';
    width: 0%;
    height:2px;
    background: rgb(152, 191, 240);
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after{
    width:100%;
}

.text-box{
    width:90%;
    color: rgb(152, 191, 240);
    position:absolute;
    top: 30%;
    left:50%;
    transform: translate(-50%, -50%);
    text-align: center;
    margin-top: 50px;
}

.text-box h1{
    font-size:62px;
}

.text-box p{
    margin: 5px 0 5px;
    font-size: 14px;
    color:rgb(152, 191, 240)
}

.hero-btn{
    display: inline-block;
    text-decoration: none;
    color:rgb(152, 191, 240);
    border: 1px solid rgb(152, 191, 240);
    padding: 12px 34px;
    font-size: 13px;
    background-color: rgba(254, 254, 254, 0.8);
    position: relative;
    cursor: pointer;
    border-radius: 10px;

}

.hero-btn:hover{
    color: white;
    border: 1px solid rgb(152, 191, 240);
    background: rgb(152, 191, 240);
    transition: 1s;
}

nav .fas{
    visibility: hidden;
}
@media(max-width:700px){
    nav{
        display: flex;
        padding: 2% 6%;
        justify-content: space-between;
        align-items: center;
        border-bottom: solid 5px rgb(152, 191, 240);
    }
    .text-box{
        width:90%;
        color: rgb(152, 191, 240);
        position:absolute;
        top: 25%;
        left:50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }

    .text-box h1{
        font-size:30px;
    }
    .nav-links ul li{
        display: block;
        color: white;
    }
    .nav-links{
        position:absolute;
        color: white;
        background: rgba(87,164,83,255);
        height: 100vh;
        width: 200px;
        top:0;
        right:-200px;
        text-align: left;
        z-index: 2;
        transition: 0.5s;
    }
    nav .fas{
        visibility: visible;
        display: block;
        color:rgb(152, 191, 240);
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
    .nav-links ul{
        padding: 30px;
    }
    .x-close{
        margin: 10px;
    }

    .mostRecent{
        display:flex;
        flex-direction: column;
        align-items: center;
        
    }

    .row{
        width: 70%;
        display:flex; 
        /* align-content: center; */
        flex-direction: column; 
        justify-content: space-between;
    
    }
    .logo{
        width: 5%;
    }
    nav img{
        width: 50px;
    }

}




/* <------Most Recent------> */

.mostRecent{
    width:80%;
    margin: auto;
    text-align: center;
    padding-top:50px;
}

.mostRecent h1{
    font-size: 36;
    font-weight: 600;
    color:rgb(152, 191, 240);
}

p{
    color:rgb(152, 191, 240);
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}

.row{
    margin-top:5%;
    display:flex;
    justify-content: space-between;

}
.most-recent1{
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.8);
}

.most-recent1 img{
    width: 100%;
    display:block;
}

.layer{
    background: transparent;
    height:100%;
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    transition: 0.5;
}

.layer:hover{
    background: white;
    opacity: 70%;
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.8);
}

.layer p{
    width:100%;
    font-weight: 500;
    color: darkblue;
    font-size: 15px;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    position: absolute;
    opacity: 0;
    transition: 0.5s;
}
.layer:hover p{
    bottom: 25%;
    opacity: 1;
}

.most-recent2{
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.8);
}

.most-recent2 img{
    width: 100%;
    display:block;
}

.most-recent3{
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.8);
}

.most-recent3 img{
    width: 100%;
    display:block;
}

h3{
    text-align: center;
    font-weight: 500;
    margin: 10px 0;
    color: darkblue;
    background-color: rgb(255,255,255,0.7);
    border-radius: 5px;
}
/* <---------SF Food Blog-----------> */
.sf-food-blog{
    display: flex;
    flex-direction: column;
    width:80%;
    margin: auto;
    text-align: center;
    padding-top:50px;
    align-items: center;
}

.sf-food-blog h1{
    font-size: 36;
    font-weight: 600;
    color:rgb(152, 191, 240);
}

.food-blog1{
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
    border: solid 5px silver;
}
.food-blog1 img{
    width:100%;
    display: block;
}
.food-blog1:hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.8);

}

.food-blog2{
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
    border: solid 5px silver;
}
.food-blog2 img{
    width:100%;
    display: block;
}
.food-blog2:hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.8);

}

.food-blog3{
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
    border: solid 5px silver;
}
.food-blog3 img{
    width:100%;
    display: block;
}
.food-blog3:hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.8);

}

footer{
    display: flex;
    flex-direction: column;
    align-items: center;
}
footer nav{
    display: flex;
    align-items: stretch;

}

/* <----------home page-----------> */

.header-about{
    min-height: 100vh;
    width: 100%;
    background-image: url(images/IMG_1068.jpg);
    background-position: center;
    background-size:cover;
    position: relative;
}
.header-about p{
    color: darkblue;
    font-weight: 500;
    
}
.text-box{
    background-color: rgb(255, 255, 255, 0.8);
    border-radius: 20px;
}